{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.first_name.capitalize }} {{ user.last_name.capitalize }}</h2>
                <p class="text-secondary">{{ user.email }} <br> @{{ user.username }}</p>
                <a class="btn btn-secondary" href="{% url 'editProfile' %}"> Edit Profile </a>
            </div>
        </div>
    </div>
{% endblock content %}
